* {
  margin: 0;

}

.app {

  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

body{
  background-color: #f5f6fa;
}