* {
  margin: 0;

}

.app {

  display: flex;
  justify-content: space-evenly;
  padding: 20px;

}

.app__header{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.app__left{
  flex: 0.9; /* Takes 90% of space*/
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

body{
  background-color: #f5f6fa; /* gives a bit more volume to beauty of code*/
}

@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
}